<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>
<link th:href="@{/css/select2.min.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>
<link th:href="@{/css/select2-bootstrap-5-theme.min.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>
<link th:href="@{/css/select2-bootstrap-5-theme.rtl.min.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>
<link th:href="@{/css/common.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>