<link th:href="@{/css/common/bootstrap.min.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>
<link th:href="@{/css/common/select2.min.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>
<link th:href="@{/css/common/select2-bootstrap-5-theme.min.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>
<link th:href="@{/css/common/select2-bootstrap-5-theme.rtl.min.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>
<link th:href="@{/css/common/bootstrap-select.min.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>
<link th:href="@{/css/common/common.css}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org"/>