<div class="col-2 menu">
    <ul class="list-group" xmlns:th="http://www.thymeleaf.org">
        <a class="list-group-item link-dark link-offset-2 link-underline link-underline-opacity-0" id="menu-customer" href="#" th:href="@{/customer}">客戶</a>
        <a class="list-group-item link-dark link-offset-2 link-underline link-underline-opacity-0" id="menu-vendor" href="#" th:href="@{/vendor}">廠商</a>
        <a class="list-group-item link-dark link-offset-2 link-underline link-underline-opacity-0" id="menu-product" href="#" th:href="@{/product}">產品</a>
        <a class="list-group-item link-dark link-offset-2 link-underline link-underline-opacity-0" id="menu-quote" href="#" th:href="@{/quote}">報帳單</a>
    </ul>
</div>