.margin-top-2{
    margin-top: 2%;
}

.margin-top-3{
    margin-top: 3%;
}

.margin-top-5{
    margin-top: 5%;
}

.margin-top-10{
    margin-top: 10%;
}

.margin-right-3{
    margin-right: 3%;
}

.login{
    max-width: 30%;
}

.alert{
    position: absolute;
    top: 3%;
    right: 1%;
    width: 15%;
    z-index: 9999;
}

.header{
    width: 100%;
    padding: 0.5%;
    background-color: #F2E6E6;
}

.menu{
    margin-top: 1%;
}

.menu .list-group-item{
    border: none;
    font-weight: bold;
    margin: 3%;
    border-radius: inherit;
    font-size: 20px;
}

.menu-active{
    background-color: #ECECFF;
}

.left{
    background-color: #3C3C3C;
    height: 100vh;
    overflow-y: auto;
}

.right{
    background-color: #FFFFFF;
    height: 100vh;
    overflow-y: auto;
}

.title{
    margin-top: 2%;
}

.title h3{
    font-weight: bold;
}

.close-scroller{
    overflow: hidden;
}

.offcanvas-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px #E0E0E0;
    padding: 3%;
}

.hide{
    display: none;
}

.alert-success{
    display: none;
}

.alert-danger{
    display: none;
}

::-webkit-scrollbar{
      width: 5px;
}

::-webkit-scrollbar-track{

}

::-webkit-scrollbar-thumb{
    background-color: #BEBEBE;
    border-radius: 10px;
}