.preview-quote-loading{
    height: 100%;
    align-items: center;
}

.total-title {
    text-align: right;
}

.title-name{
    text-align: right;
}

.text-blue{
    color: #7D7DFF;
}

#preview-quote{
    width: 70%;
}