<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>報價單</title>
    <th:block th:include="common/css.html"></th:block>
    <th:block th:include="common/js.html"></th:block>
    <script th:src="@{js/quote.js}" type="text/javascript"></script>
</head>
<body class="close-scroller">

    <th:block th:include="common/header.html"></th:block>
    <th:block th:include="common/alert.html"></th:block>

    <div class="container-fluid">
        <div class="row">
            <th:block th:include="common/menu.html"></th:block>
            <div class="col-10 right">

            </div>
        </div>
    </div>

</body>
</html>